@import "../../../pages/portfolio.scss";
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    gap: 0px;
    padding: 7vw;

    @include mobile {
      padding: 10vw;
    }

    h1 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 40px;

      @include mobile {
        
        font-size: 30px;
      }
    }

    .skills-container{
      gap: 20px;

      @include mobile{
        gap: 5px
      }
    }

    .ball{
      width: 120px;
      height: 120px;
      @include mobile{
        width: 90px;
        height: 90px;
      }
    }
  }  
}
